.App {
  text-align: center;
  height: 100%;
}

html,
body,
#root {
  height: 100% !important;
  font-family: sans-serif;
}

h1 {
  font-weight: 400;
}

.calculator-container {
  width: 100%;
  height: 100%;
  background-color: #f3f3f3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator {
  min-width: 350px;
  background-color: white;
  padding: 40px;
  box-shadow: 0 12px 40px rgba(0, 0, 0, 0.12);
  border-radius: 25px;
}

.button {
  all: unset;
  padding: 12px 24px;
  background-color: #c1d83a;
  border-radius: 10px;
}

.expression-input {
  all: unset;
  padding: 12px 24px !important;
  text-align: start;
}
.expression-input-container {
  padding: 7px;
  border-radius: 17px;
  background-color: #f3f3f3;
  border: 2px solid #c1d83a;
}

.result-container {
  margin-top: 25px;
  padding: 7px;
  border-radius: 17px;
  background-color: #f3f3f3;
  border: 2px solid #c1d83a;
}
