.App {
  text-align: center;
  height: 100%;
}

html,
body,
#root {
  height: 100% !important;
  font-family: sans-serif;
}

h1 {
  font-weight: 400;
}

.calculator-container {
  width: 100%;
  height: 100%;
  background-color: #f3f3f3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator {
  min-width: 350px;
  background-color: white;
  padding: 40px;
  box-shadow: 0 12px 40px rgba(0, 0, 0, 0.12);
  border-radius: 25px;
  margin-bottom: 150px;
}
.relative {
  position: relative;
}
.icon {
  position: absolute;
  top: 0;
  left: 10;
  width: 35px;
  height: 35px;
  margin-top: -35px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px 5px 0 0;
}
.button {
  all: unset;
  padding: 12px 24px;
  background-color: #c1d83a;
  border-radius: 10px;
}

.expression-input {
  all: unset;
  padding: 12px 24px !important;
  text-align: start;
}
.expression-input-container {
  padding: 7px;
  border-radius: 17px;
  background-color: #f3f3f3;
  border: 2px solid #c1d83a;
}

.result-container {
  margin-top: 25px;
  padding: 7px;
  border-radius: 17px;
  background-color: #f3f3f3;
  border: 2px solid #c1d83a;
}

.logout-button {
  /* margin-top: 40px; */
  font-size: small;
  padding: 6px 12px;
}

.user-div {
  display: flex;

  justify-content: space-between;
  /* align-self: center; */
  align-self: center;
  margin-bottom: 35px;
}

.title {
  margin-bottom: 45px;
}
.result-history {
  display: flex;
  justify-content: space-between;
  padding: 12px 24px;
  margin-top: 15px;
  margin-bottom: 15px;
  border-radius: 17px;
  background-color: #fff;
  border: 2px solid #c1d83a;
}

.history {
  position: absolute;
  width: calc(100% - 80px);
  max-height: 250px;
  overflow-y: scroll;
  margin-top: 40px;
}

.expression {
  overflow-y: hidden;
  max-width: 300px;
  overflow-x: auto;
  margin-right: 25px;
}

.history::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
}

.history::-webkit-scrollbar {
  width: 6px;
  background-color: #f5f5f5;
}

.history::-webkit-scrollbar-thumb {
  padding-left: 5px;
  background-color: #c1d83a;
}

.expression::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
}

.expression::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: #f5f5f5;
}

.expression::-webkit-scrollbar-thumb {
  padding-left: 5px;
  background-color: #c1d83a;
}

.red-border {
  border-color: red;
}
